html,
html>body{
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}
.bgLayer{
  background-image: url(bg.jpg);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgLayer>.contentLayer{
  box-sizing: border-box;
  background: rgba(255,255,255,.6);
  width: 48vw;
  height: 36vh;
  padding: 3vh 4vw;
}
.bgLayer>.contentLayer>h1{
  margin: 0;
  text-align: center;
}
.bgLayer>.contentLayer>p{
  margin-top: 3vh;
  font-size: 16px;
  line-height: 1.66;
}

/* frosted glass effect */
.bgLayer>.contentLayer{
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 15px rgba(30,30,30,.3);
}
.bgLayer>.contentLayer::after{
  content: "";
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  background: rgba(255,255,255,.4);
  z-index: -1;
  background-image: url(bg.jpg);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(15px);
  margin: -20px;
}
